//- Banner for a Site (unique!)
- var sectionClasses = "iz-banner-wrapper " + banner.mainClass
section(class=sectionClasses)
    img.iz-banner-image(src=banner.image)
    h1.iz-banner-headline= banner.headline
    p.iz-banner-content= banner.content
div(class=banner.class id=banner.id)
    video(autoplay loop muted)
        source(src=banner.video type="video/mp4")
