if headliner.endsWith("1")
    h1= headline
else if headliner.endsWith("2")
    h2= headline
else if headliner.endsWith("3")
    h3= headline
else if headliner.endsWith("4")
    h4= headline
else if headliner.endsWith("5")
    h5= headline
else if headliner.endsWith("6")
    h6= headline
else
    h1= headline