//- Generates the vertically ordered, height: 100vh html sections for a content site
- var izTypes = mainSection.izTypes
- var hasBackgroundVideo = false
- var backgroundVideo = mainSection.backgroundVideo
- var parallaxClassesVideo =  ""
- var parallaxClassesContent =  ""
- var parallaxClassesImage =  ""
- var parallaxOnscrollFunction = ""
if isParallax
    - var parallaxClassesVideo = "iz-parallax-video iz-parallax-index-" + izIndexCurrent + " iz-parallax-video-index-" + izIndexCurrent
    - var parallaxClassesContent =  "iz-parallax-content iz-parallax-index-" + izIndexCurrent + izContentClass
    - var parallaxClassesImage =  "iz-parallax-image iz-parallax-index-" + izIndexCurrent
    - var parallaxOnscrollFunction = "SetPrallaxVideoVisible(this)"
if backgroundVideo && isParallax
    - var hasBackgroundVideo = true
    - var parallaxClassesContent = "iz-parallax-content iz-parallax-content-transparent " + izContentClass
section.iz-content-entry(id=izContentId class=parallaxClassesContent izParallaxIndex=izIndexCurrent)
    if izTypes
        each izType in izTypes
            include izTypeGenerator.pug
            //-p= JSON.stringify(mainSection.backgroundVideo)
    else
        p= JSON.stringify(mainSection)
if hasBackgroundVideo
    div(class=parallaxClassesVideo izParallaxIndex=izIndexCurrent)
        video(id=backgroundVideo.id autoplay=backgroundVideo.autoplay loop=backgroundVideo.loop muted=backgroundVideo.muted)
            source(src=backgroundVideo.src type="video/mp4")
if hasBackgroundVideo && isParallax
    div(class="iz-parallax-content-after") Invisible